#-------------------------------#
# DATABASE CONFIGURATION SAMPLE #
#-------------------------------#
# Change the variables below to #
# appropriate values and rename #
# this file to db.env           #
#################################

MYSQL_ROOT_PASSWORD=nextcloud
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=nextcloud

