#-------------------------------#
# CERTBOT CONFIGURATION SAMPLE  #
#-------------------------------#
# Change the variables below to #
# appropriate values and rename #
# this file to certbot.env      #
#################################

EMAIL='user@example.com'
DOMAIN='example.com'
OPTIONS='--staging' # remove --staging if this is a production server

